html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 320px;
    margin: 30px auto;
}

input {
    font-family: 'Rubik', sans-serif;
    color: #B3B3B1;
    background-color: #DCE1EB;
    font-size: 1.25em;
    margin: 0.65em 0;
    padding: 1em;
    border-radius: 8px;
    border: none;
    font-weight:100;
    text-align: center;
}

button {
    font-family: 'Rubik', sans-serif;
    color: #FDFDFD;
    background-color: #AC485A;
    border-radius: 8px;
    border: none;
    font-weight:100;
    font-size: 1.25em;
    padding: 1em;
	box-sizing: border-box;
	width: auto;
    margin-bottom: 10px;
    transition: color 1s ease-in;
}
button:hover{
    background-color: #432000;
    cursor: pointer;
}
img{

    width: 150px;
    margin: 0 auto;
}

/* ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 10px 10px
}

ul li {
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    list-style: none;
    border-radius: 8px;
    } */

ul{
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

li{

    font-family: 'Rubik', sans-serif;

    padding: 15px 23px;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    color: #6F5738;
    font-weight: 900;
    font-size: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    text-align: center;
}

li:hover{
    background-color: #FFECC7;
    cursor: pointer;
}

.dark-mode-button{
    align-self:last baseline;


}
